.top-text {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.main-content {
    width: 98%;
    height: 100%;
    margin-top: 1%;
    background-color: white;
}
.content{
    align-items: center;
    display: flex;
    justify-content: center;
}
.table-div{
    width: 100%;
    height: 100%;
    background-color: azure;
    display: table;
    display: block; 
    overflow-y: auto;
}
.table-div table {
    width: 100%; 
    border-collapse: collapse;
}
.table-div th, .table-div td {
    border: 1px solid black; 
    padding: 8px;
    text-align: left;
    font-size: 16px;
    font-weight: 100;
}
.table-div th {
    background-color: #f2f2f2;
}
.table-div table th:nth-child(1) {
    width: 40%;
}
.table-div table th:nth-child(2) {
    width: 25%;
}
.table-div table th:nth-child(3) {
    width: 20%;
}
.table-div table th:nth-child(4) {
    width: 15%;
}
