
.new-div {
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
    height: 26.74%;
    margin-top: 1%;
}
.home-content {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
.home-button {
    width: calc(50% - 2px); 
    height: 100%;
    border-radius: 0px;
    border-width: 1px;
    box-shadow: none;
    border-color: white;
    background-color: white;
    margin-top: 0px;
    margin-right: 0%;
    border-radius: 20px;
    font-size: 170%;
    font-weight: bold;
    color: rgb(0, 0, 0);

    text-align: center;
    vertical-align: middle;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.home-button:hover {
    background-color: #86cbf6;
}

#addPacient-button{
    width: 100%;
    margin-top: 0%;
}
.home-button img{
    width: 40px; 
    height: 40px; 
    display: block; 
    margin: 0 auto 10px auto;
}