body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: stretch;
    background: #F4F4F4;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 248px;
    background: white;
    padding: 30px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar .Contents {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar .Logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
  }
  
  .sidebar .Logo .LogoImage {
    width: 20px;
    height: 20px;
    background: rgba(161, 98, 247, 0); 
    border-radius: 6px;
  }
  
  .sidebar .Motiv {
    color: #1F2128;
    font-size: 24px;
    font-weight: 700;
  }
  
  .sidebar .MenuItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sidebar .MenuItem {
    height: 40px;
    padding: 7px 8px;
    border: none;
    border-radius: 6px;
    background: white;
    display: flex;
    align-items: center;
    color: #5F6165;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .sidebar .MenuItem:hover {
    background: #E0E0E0;
  }
  
  .sidebar .Logout {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .sidebar .Logout .LogoutButton {
    padding: 7px 8px;
    border: none;
    border-radius: 6px;
    background: white;
    display: flex;
    align-items: center;
    color: #5F6165;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  
  .header .header-title {
    font-size: 20px;
    font-weight: 300;
    color: black;
    position: absolute;
    top: 5px;
    left: 35px;


  }

  .header-title-bar .header-title-barImage {
    width: 30px; 
    height: 30px; 
    margin-right: 1px; 
  }

  .header-title-bar .header-title-barImage2 {
    width: 20px; 
    height: 20px;
    position: absolute; 
    top: 5px; 
    margin-left: 1000px
  }

  :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 990px;
    height: 201px;
    margin: 0 auto;
    padding: 16px 20px 16px 20px;
    background: #f7bfc5;
    border-radius: 14px;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 14px;
    position: relative;
    min-width: 0;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
  }
  .reminder {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #000000;
    font-family: DM Sans, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
  }
  .frame-1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 149px;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    background: #ff6370;
    border: none;
    z-index: 3;
    border-radius: 6px;
  }
  .add-new {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #ffffff;
    font-family: DM Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .rectangle {
    flex-shrink: 0;
    position: relative;
    width: 599px;
    height: 1px;
    background: #f3f3f3;
    z-index: 5;
  }
  .frame-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 89px;
    position: relative;
    width: 573px;
    z-index: 6;
  }
  .description {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #72767c;
    font-family: DM Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .due {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: #72767c;
    font-family: DM Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 16.926px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .overdue {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #72767c;
    font-family: DM Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .notify {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #72767c;
    font-family: DM Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .status {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 79px;
    height: 36px;
    color: #72767c;
    font-family: DM Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 18.228px;
    text-align: left;
    z-index: 11;
  }
  .rectangle-3 {
    flex-shrink: 0;
    position: relative;
    width: 599px;
    height: 1px;
    background: #f3f3f3;
    z-index: 12;
  }
  .frame-4 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 23px;
    position: relative;
    z-index: 13;
  }
  .urgent-safety-recall {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 133px;
    height: 16px;
    color: rgba(36, 39, 49, 0);
    font-family: DM Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .xxx-xxx-123-44 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 93px;
    height: 16px;
    color: rgba(36, 39, 49, 0);
    font-family: DM Sans, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 15.624px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .pedro-ii {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 118px;
    height: 17px;
    color: rgba(36, 39, 49, 0);
    font-family: DM Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 16.926px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
  }
  .david-demo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 101px;
    height: 17px;
    color: rgba(36, 39, 49, 0);
    font-family: DM Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 16.926px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
  }
  .completed {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 17px;
    color: rgba(36, 39, 49, 0);
    font-family: DM Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 16.926px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }