* {
    box-sizing: border-box;
}

.form-content {
    width: 100%;
    height: 100vh;
    /* Altura fixa para o contêiner do formulário */
    overflow: auto;
    /* Adiciona barras de rolagem quando necessário */
    overflow-x: hidden;
}

.form {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* alinha o conteúdo ao fim da div */
    width: 100%;
    height: 10%;
    margin-left: 5%;
    color: white;

}

.form-01 {
    width: 100%;
    height: 44vh;
}

.form-02 {
    width: 100%;
    height: 50vh;

}

.form-03 {
    width: 100%;
    height: 65vh;

}

.submit {
    width: 100%;
    height: 10vh;
}

.input_container label,
.input_container input,
.input_container select {
    display: block;
}


.input_container input[type="text"],
.input_container select,
.submit button {
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    width: 300px;


    margin-bottom: 40px;
    height: 40px;
}

.input_container label {
    margin-top: 10px;
    color: white;
}

.input_container {
    display: flex;
    justify-content: center;
}

.input-01 {
    margin-right: 5%;

}

.input-01 button {
    margin-right: 20px;
}

.input_container-02 {
    color: white;
}

.radios {
    display: flex;
    justify-content: center;
}

.input-div {
    margin: 50px;
    margin-bottom: 0px;
    
}

.submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* Alinha à direita */
}

.submitButton {
    margin-right: 5%;
    margin-top: 20px;

}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    color: black;
    height: 300px;
}

.popup img{
    width: 100px;
    margin-top: 50px;
    border-radius: 50%;
}
.popup button{
    width: 50%;
    padding: 10px 0;
    background: #1ECA7C;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}