.mapa{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.mapa iframe{

    left:257px;

    top:5px;

    height:89%;

    width:82%;

    position:absolute;

}